.subject{font-size: 2em; margin-bottom: 20px; color: #365fd5;}
.example-div{background: #f4f7f8; padding: 20px; margin: 20px; display: inline-block; border: 1px solid #ddd;}
.example-div p{margin-bottom: 10px;}
.token{color: #07a;}
.keyword{color: #DD4A68;}
.learn-link{color: blue !important; text-decoration: underline !important; font-size: .75em !important;}
.openMe{display: none;}
.method-title{font-weight: bold; cursor: pointer; border-bottom: 2px solid; display: inline-block; padding-bottom: 1px;}
.method-div{margin: 10px 0; display: inline-block;}
.display{display: inline-block;}
.martop15{margin-top: 15px;}
.string-color{color: #690;}