*{margin: 0; padding: 0; max-width: 100%; -webkit-backface-visibility: hidden;}
body{font-size: 17px; font-weight: 300; background-color: #fff;  color: #000; font-family: 'Open Sans', sans-serif; letter-spacing: 1.1px;}
li{list-style-type: none;}
div{display: block; margin: 0; padding: 0;}
img{border: 0;}
.container{margin: auto; padding: 0; width: 960px;}
.clear{clear: both; height: 1px; line-height: 1px; margin-bottom: -1px; overflow: hidden;}
.Lfloat{float: left;}
.Rfloat{float: right;}
a:link, a:visited, a:active{text-decoration: none; color: inherit;}